/*  THis is universal css file*/
/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* light gray background */
  color: #333; /* dark text color */
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* make the container fill the entire viewport height */
}

.menu {
  margin-right: 20px;
  padding: 20px;
  background-color: #fff; /* white background for the menu */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* add shadow to the menu */
}

.menu h3 {
  margin-bottom: 10px;
  cursor: pointer;
  color: #333;
}

.menu h3:hover {
  color: #007bff;
}

.page {
  /* flex: 1; */
  padding: 20px;
}
